/* 메인 */
.chat_wrap .header {
  font-size: 14px;
  padding: 15px 0;
  background: #f18c7e;
  color: white;
  text-align: center;
}

h3 {
  display: block;
  font-size: 14px;
  padding: 15px 0;
  background: rgb(180, 145, 115);
  color: white;
  text-align: center;
}

.content.chat {
  background-color: #fcfcfc;
  text-align: center;
  width: 100vw;
  height: 100vw;
}

/* 내가 보낸 메시지 */
.me {
  display: inline-block;
  word-break: break-all;
  margin: 5px 20px;
  max-width: 75%;
  border: 1px solid #888;
  padding: 10px;
  border-radius: 5px;
  background-color: #fcfcfc;
  color: #555;
  text-align: left;
}

h4 {
  font-size: 20px;
  z-index: 2;
}

.roomdiv {
  font-size: 14px;
  padding: 15px 0;
  background: rgb(181, 227, 216);
  color: white;
  text-align: center;
}

input {
  bottom: 300px;
  width: 50%;
  padding: 10px;
  font-size: 18px;
  outline: none;
  background: linear-gradient(to left top, #000, #22132e) fixed;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
}

#meginput:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
#meginput:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
}

button {
  bottom: 300px;
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
}

#button:hover {
  border: 5px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to left top, #000, #8b5db0) fixed;
}

#button:focus {
  background: linear-gradient(to left top, #8b5db0, #000) fixed;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}
