/* 네비게이션 */
#bthome {
  color: #bbbbbb;
}
b {
  font-size: 20px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 600;
  color: white;
  padding: 5px;
}
b:hover {
  color: black;
}
/* Window 1 */
#window1 {
  background-image: url("yogi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
#intro {
  position: absolute;
  top: 50%;
  height: 240px;
  margin-top: -200px;
}
#intro h1 {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 600;
  font-size: 72px;
  text-align: center;
}
h3 {
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #555555;
  text-align: center;
}
/* Window2 */
#window2 {
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#mock {
  max-width: 900px;
  margin-left: 80px;
  -webkit-flex: 1;
  flex: 1;
}
#myself {
  -webkit-flex: 1;
  flex: 1;
  vertical-align: middle;
}
#myself h1 {
  margin-top: 50%;
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
#myself h2 {
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
#portfoliosite {
  text-decoration: none;
  color: #7319f3;
  font-weight: 600;
}
#portfoliosite:hover {
  color: yellow;
}
/* Window 3 */
#window3 {
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);
}
#window3 h1 {
  padding-top: 120px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.5;
  text-align: center;
}
.container {
  display: -webkit-flex;
  display: flex;
  margin-top: 150px;
}
.hobby {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.hobby_img {
  max-width: 300px;
  display: inline;
}
.hobby_text {
  margin-top: 30px;
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
/* Window 4 */
#window4 {
  background: #eee;
}
#window4 h1 {
  padding-top: 120px;
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  text-align: center;
}
#window4 h1 span {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
}
.tmicontainer {
  display: -webkit-flex;
  display: flex;
  margin-top: 130px;
}
.tmilist {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.tmilist p {
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 25px;
  line-height: 5.5;
}
.tmilist p:hover {
  font-size: 0;
}
.tmilist p:hover::before {
  font-size: 25px;
  font-weight: bold;
  color: #7319f3;
}
.tmilist #tmi1:hover:before {
  content: "1986.08.04";
}
.tmilist #tmi2:hover:before {
  content: "father, mother, youger sister";
}
.tmilist #tmi3:hover:before {
  content: "Seosan";
}
.tmilist #tmi4:hover:before {
  content: "coffee";
}
.tmilist #tmi5:hover:before {
  content: "apple";
}
.tmilist #tmi6:hover:before {
  content: "beer!";
}
.tmilist #tmi7:hover:before {
  content: "appreciating documentary";
}
.tmilist #tmi8:hover:before {
  content: "steak";
}
.tmilist #tmi9:hover:before {
  content: "Luna sea I for you";
}
/* Window 5 */
#window5 {
  background: #b993d6;
  background: -webkit-linear-gradient(to right, #8ca6db, #b993d6);
  background: linear-gradient(to right, #8ca6db, #b993d6);
}
#window5 h1 {
  padding-top: 140px;
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  color: white;
  text-align: center;
}
.imglist {
  text-align: center;
}
.imglist img {
  width: 100px;
  margin-top: 140px;
  padding: 50px;
}
.imglist a {
  text-decoration: none;
}

.infoFooter {
  position: absolute;
  bottom: 0;
  background-color: #f8b505;
  text-align: center;
  color: white;
}

.wrap {
  width: 100%;
  height: 100%;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}
