z* {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

body {
  background-color: white;
  margin: 0;
}

.nameForm,
.hajimemashite,
.renameBtn {
  display: none;
}

.renameForm {
  display: inline;
}

@keyframes blink {
  0% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeout {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotatex {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.rotatex {
  animation: rotatex 500ms linear;
}

.blink {
  animation: blink 1s;
}

.fadein {
  animation: fadein 0.7s;
}

.fadeout {
  animation: fadeout 0.9s;
}

.invisible {
  display: none;
}

.showing {
  display: block;
}

.showingAsInline {
  display: inline;
}

.js-weather {
  color: white;
  font-size: 17px;
}

.mainBox {
  display: flex;
  height: 100vh;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

.dummyBox {
  height: 20vh;
}

.hajimemashite {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.nameForm {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.nameForm input {
  text-align: center;
  font-size: 46px;
  height: 50px;
  width: 300px;
  background: none;
  border: 0;
  border-bottom: 3px solid white;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.nameForm input:focus {
  outline: none;
}

.clock {
  margin: 0;
  font-size: 160px;
  font-weight: 400;
  letter-spacing: -1px;
  animation: rotatex 500ms linear;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.greetingBox {
  display: flex;
  align-items: center;
}

.greetingBox i {
  cursor: pointer;
}

.greeting {
  padding-left: 30px;
  font-size: 46px;
  margin-right: 12px;
  animation: rotatex 500ms linear;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.renameBtn {
  opacity: 0;
  transition: all 100ms;
}

#hide {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
  font-size: 46px;
}

.renameForm input {
  text-align: center;
  font-size: 46px;
  height: 46px;
  min-width: 10px;
  background: none;
  border: 0;
  border-bottom: 3px solid white;
}

.renameForm input::placeholder {
  color: white;
}

.renameForm input:focus {
  outline: none;
}

.toDoBox {
  margin-top: 20px;
}

.toDoForm input {
  text-align: center;
  font-size: 34px;
  height: 50px;
  width: 500px;
  background: none;
  border: 0;
  border-bottom: 3px solid white;
  animation: rotatex 500ms linear;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.toDoForm input::placeholder {
  color: white;
  opacity: 0.9;
}

.toDoForm input:focus {
  outline: none;
}

.toDoList {
  overflow-y: auto;
  height: 150px;
  width: 400px;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  margin-left: 98px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.toDoList li {
  margin-bottom: 15px;
  animation: rotatex 300ms linear;
}

.toDoList span {
  margin-left: 30px;
}

.toDoList::-webkit-scrollbar {
  width: 7px;
  background-color: none;
}

.toDoList::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: white;
  border-radius: 7px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadein 700ms;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}
